.form-response-container {
    margin: auto;
    width: 70vw;
}



.header-form {
    background: linear-gradient(to bottom, #81C3D7, #2F6690);
    height: 150px;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    padding: 30px 50px;
}

.form-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.form-medic {
    margin-bottom: 5px;
}


.questionCards-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.questionCard {
    background-color: white;
    border-radius: 10px;
    min-height: 120px;
    color: #203D63;
    font-weight: 600;
    display: flex;
    padding: 15px;
}

.questionNumber {
    position: relative;
    background-color: #3A7CA5;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid #16425B;
    color: #D9DCD6;
    top: -20px;
    left: -40px;
}

.question-response-container {
    flex: 1;
}

.question {
    margin-bottom: 10px;
}

.afirmative-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.afirmative-input .fa-icon {
    margin-right: 10px;
}


.description-input {
    height: 55px;
    resize: none;
    font-family: inherit;
}

.description-input,
.number-input {
    width: 95%;
    border-radius: 8px;
    padding: 5px;
    border: 2px solid #939393;
    
}

.number-input {
    padding: 8px 5px;
    margin-bottom: 5px;
} 

.btn-submit-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.btn-submit-form button {
    background-color: #16425B;
    border: 1px solid #D9DCD6;
    color: #D9DCD6;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

}

.btn-submit-form button:hover {
    background-color: #ffffff;
    color: #043f5d;
}